<body>


<div id="all">


    <!-- *** LOGIN MODAL ***
_________________________________________________________ -->



    <!-- *** LOGIN MODAL END *** -->

    <div id="heading-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>Đơn hàng # 1735</h1>
                </div>
                <div class="col-md-5">
                    <ul class="breadcrumb">

                        <li><a href="/">Trang chủ</a>
                        </li>
                        <li><a href="myoder">Hàng đã đặt</a>
                        </li>
                        <li>Đơn hàng # 1735</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div id="content">
        <div class="container">

            <div class="row">

                <!-- *** LEFT COLUMN ***
         _________________________________________________________ -->

                <div class="col-md-9 clearfix" id="customer-order">

                    <p class="lead">Đơn hàng #1735 được đặt vào <strong>22/06/2013</strong> và hiện tại <strong>đăng trong quá trình xác minh</strong>.</p>
                    <p class="text-muted lead">Nếu có bất kì câu hỏi, vui lòng <a href="contact">liên lạc với chúng tôi</a>, hỗ trợ khách hàng 24/7.</p>

                    <div class="box">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th colspan="2">Sản phẩm</th>
                                    <th>Số lượng</th>
                                    <th>Đơn giá</th>
                                    <th>Giảm giá</th>
                                    <th>Tổng</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <a href="#">
                                            <img src="images/detailsquare.jpg" alt="White Blouse Armani">
                                        </a>
                                    </td>
                                    <td><a href="#">White Blouse Armani</a>
                                    </td>
                                    <td>2</td>
                                    <td>$123.00</td>
                                    <td>$0.00</td>
                                    <td>$246.00</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">
                                            <img src="images/basketsquare.jpg" alt="Black Blouse Armani">
                                        </a>
                                    </td>
                                    <td><a href="#">Black Blouse Armani</a>
                                    </td>
                                    <td>1</td>
                                    <td>$200.00</td>
                                    <td>$0.00</td>
                                    <td>$200.00</td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th colspan="5" class="text-right">Giá sản phẩm</th>
                                    <th>$446.00</th>
                                </tr>
                                <tr>
                                    <th colspan="5" class="text-right">Chi phí vận chuyển</th>
                                    <th>$10.00</th>
                                </tr>
                                <tr>
                                    <th colspan="5" class="text-right">Thuế</th>
                                    <th>$0.00</th>
                                </tr>
                                <tr>
                                    <th colspan="5" class="text-right">Tổng cộng</th>
                                    <th>$456.00</th>
                                </tr>
                                </tfoot>
                            </table>

                        </div>
                        <!-- /.table-responsive -->

                        <div class="row addresses">
                            <div class="col-sm-6">
                                <h3 class="text-uppercase">Địa chỉ người đặt hàng</h3>
                                <p>Kha Leo
                                    <br>123/20 Đặng Văn Bi
                                    <br>KP5
                                    <br>Phường Trường Thọ
                                    <br>Quận Thủ Đức
                                    <br>tp Hồ Chí Minh</p>
                            </div>
                            <div class="col-sm-6">
                                <h3 class="text-uppercase">Địa chỉ giao hàng</h3>
                                <p>Kha Leo
                                    <br>123/20 Đặng Văn Bi
                                    <br>KP5
                                    <br>Phường Trường Thọ
                                    <br>Quận Thủ Đức
                                    <br>tp Hồ Chí Minh</p>
                            </div>
                        </div>
                        <!-- /.addresses -->

                    </div>
                    <!-- /.box -->

                </div>
                <!-- /.col-md-9 -->

                <!-- *** LEFT COLUMN END *** -->
            </div>
            </div>
</div>
<!-- /#all -->

</div>


</body>