<body>


<div id="all">


    <!-- *** LOGIN MODAL ***
_________________________________________________________ -->


    <!-- *** LOGIN MODAL END *** -->
    <div id="heading-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>Lịch sử mua hàng</h1>
                </div>
                <div class="col-md-5">
                    <ul class="breadcrumb">

                        <li><a href="/">Trang chủ</a>
                        </li>
                        <li>Lịch sử mua hàng</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>


    <div id="content">
        <div class="container">


            <div class="row">

                <!-- *** LEFT COLUMN ***
         _________________________________________________________ -->

                <div class="col-md-9" id="customer-orders">

                    <p class="text-muted lead">Nếu có bất kì câu hỏi, vui lòng <a href="contact">liên lạc với chúng tôi</a>, hỗ trợ khách hàng 24/7.</p>

                    <div class="box">

                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Đặt</th>
                                    <th>Ngày</th>
                                    <th>Tổng</th>
                                    <th>Trạng thái</th>
                                    <th>Hoạt động</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th># 1735</th>
                                    <td>22/06/2013</td>
                                    <td>$ 150.00</td>
                                    <td><span class="label label-info">Đang tiến hành</span>
                                    </td>
                                    <td><a href="/detailoder" class="btn btn-template-main btn-sm">Xem</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th># 1735</th>
                                    <td>22/06/2013</td>
                                    <td>$ 150.00</td>
                                    <td><span class="label label-info">Đang tiến hành</span>
                                    </td>
                                    <td><a href="/detailoder" class="btn btn-template-main btn-sm">Xem</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th># 1735</th>
                                    <td>22/06/2013</td>
                                    <td>$ 150.00</td>
                                    <td><span class="label label-success">Đã nhận</span>
                                    </td>
                                    <td><a href="/detailoder" class="btn btn-template-main btn-sm">Xem</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th># 1735</th>
                                    <td>22/06/2013</td>
                                    <td>$ 150.00</td>
                                    <td><span class="label label-danger">Đã huỷ</span>
                                    </td>
                                    <td><a href="/detailoder" class="btn btn-template-main btn-sm">Xem</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th># 1735</th>
                                    <td>22/06/2013</td>
                                    <td>$ 150.00</td>
                                    <td><span class="label label-warning">Đang giữ</span>
                                    </td>
                                    <td><a href="/detailoder" class="btn btn-template-main btn-sm">Xem</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->

                    </div>
                    <!-- /.box -->

                </div>
                <!-- /.col-md-9 -->

                <!-- *** LEFT COLUMN END *** -->



            </div>


        </div>
        <!-- /.container -->
    </div>
    <!-- /#content -->


</div>
</body>