<div class="checkout_steps_area">
    <a class="complated" href="checkout-1"><i class="ti-check"></i> Login</a>
    <a class="complated" href="checkout-2"><i class="ti-check"></i> Billing</a>
    <a class="active" href="checkout-3"><i class="ti-check"></i> Shipping</a>
    <a class="" href="checkout-4"><i class="ti-check"></i> Payment</a>
    <a class="" href="checkout-5"><i class="ti-check"></i> Review</a>
</div>

<!-- <<<<<<<<<<<<<<<<<<<< Checkout Area Start >>>>>>>>>>>>>>>>>>>> -->
<div class="checkout_area section_padding_100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="checkout_details_area mt-50 clearfix">
                    <h5>Shipping Method</h5>
                    <div class="shipping_method">
                        <table class="table table-responsive">
                            <thead>
                            <tr>
                                <th>Method</th>
                                <th>Delivery Time</th>
                                <th>Price</th>
                                <th>Choose</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="col-4">Courier</td>
                                <td class="col-4">2-3 Business Day</td>
                                <td class="col-3">$9.99</td>
                                <td class="col-1">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                        <label class="custom-control-label" for="customRadio1"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-4">Flat Rate</td>
                                <td class="col-4">3-4 Day</td>
                                <td class="col-3">$3.00</td>
                                <td class="col-1">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                                        <label class="custom-control-label" for="customRadio2"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-4">Free Shipping</td>
                                <td class="col-4">1 Week</td>
                                <td class="col-3">$0.00</td>
                                <td class="col-1">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                                        <label class="custom-control-label" for="customRadio3"></label>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="checkout_pagination mt-50 clearfix">
                    <a href="checkout-2" class="btn bigshop-btn">Go Back</a>
                    <a href="checkout-4" class="btn bigshop-btn">Continue</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <<<<<<<<<<<<<<<<<<<< Checkout Area End >>>>>>>>>>>>>>>>>>>> -->