
<!-- ***** Header Area Start ***** -->

<!-- ***** Header Area End ***** -->

<!-- ***** Breadcumb Area Start ***** -->

<!-- ***** Breadcumb Area End ***** -->

<!-- Checkout Steps Area -->
<div class="checkout_steps_area">
    <a class="active" href="checkout-1"><i class="ti-check"></i> Login</a>
    <a href="checkout-2"><i class="ti-check"></i> Billing</a>
    <a href="checkout-3"><i class="ti-check"></i> Shipping</a>
    <a href="checkout-4"><i class="ti-check"></i> Payment</a>
    <a href="checkout-5"><i class="ti-check"></i> Review</a>
</div>

<!-- ***** Checkout Area Start ***** -->
<div class="checkout_area section_padding_100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="checkout_details_area checkout-1 mt-50 clearfix">
                    <div class="row">
                        <div class="col-12 col-md">
                            <h5>Checkout as a Guest or Register</h5>
                            <p>Register with us for future convenience:</p>

                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                <label class="custom-control-label" for="customRadio1">Checkout as Guest</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                                <label class="custom-control-label" for="customRadio2">Register</label>
                            </div>

                            <br>
                            <h5>Register and save time!</h5>
                            <p>Register with us for future convenience:</p>
                            <p><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Fast and easy check out <br>
                                <i class="fa fa-dot-circle-o" aria-hidden="true"></i> Easy access to your order history and status</p>

                            <a href="register" class="btn bigshop-btn">Continue</a>
                        </div>
                        <div class="col-12 col-md">
                            <h5>Login</h5>
                            <p>Already registered? Please log in below:</p>
                            <form>
                                <div class="form-group">
                                    <label for="email">Email address</label>
                                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="password" placeholder="Password">
                                </div>
                                <div class="form-check">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                        <label class="custom-control-label" for="customCheck1">Remember Me</label>
                                    </div>
                                </div>
                                <button type="submit" class="btn bigshop-btn">Login</button>
                                <a class="forget_password" href="forgotpassword">Forget Password?</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="checkout_pagination mt-50">
                    <a href="viewcart" class="btn bigshop-btn">Go to Cart</a>
                    <a href="checkout-2" class="btn bigshop-btn">Continue</a>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- ***** Checkout Area End ***** -->

<!-- ***** Special Featured Area Start ***** -->

<!-- ***** Special Featured Area End ***** -->

<!-- ***** Footer Area Start ***** -->

<!-- ***** Footer Area End ***** -->

<!-- jQuery (Necessary for All JavaScript Plugins) -->
<script src="js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="js/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="js/bootstrap.min.js"></script>
<!-- Plugins js -->
<script src="js/plugins.js"></script>
<!-- Active js -->
<script src="js/active.js"></script>
