<div class="checkout_steps_area">
    <a class="complated" href="checkout-1"><i class="ti-check"></i> Đăng nhập</a>
    <a class="complated" href="checkout-2"><i class="ti-check"></i> Hoá đơn</a>
    <a class="complated" href="checkout-3"><i class="ti-check"></i> Vận chuyển</a>
    <a class="active" href="checkout-4"><i class="ti-check"></i> Thanh toán</a>
    <a class="" href="checkout-5"><i class="ti-check"></i> Xem lại</a>
</div>

<!-- <<<<<<<<<<<<<<<<<<<< Checkout Area Start >>>>>>>>>>>>>>>>>>>> -->
<div class="checkout_area section_padding_100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="checkout_details_area mt-50 clearfix">
                    <div class="payment_method">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                            <!-- Single payment method -->
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="one">
                                    <h6 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_one" aria-expanded="false" aria-controls="collapse_one"><i class="fa fa-credit-card" aria-hidden="true"></i> Thanh toán bằng thẻ tín dụng</a>
                                    </h6>
                                </div>
                                <div aria-expanded="false" id="collapse_one" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="one">
                                    <div class="panel-body">
                                        <div class="pay_with_creadit_card">
                                            <form action="#" method="post">
                                                <div class="row">
                                                    <div class="col-12 col-md-6 mb-3">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                            <label class="custom-control-label" for="customCheck1">Ghi nợ hoặc thẻ tín dụng</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-6 mb-3">
                                                        <div class="accept_payment text-right">
                                                            <img src="img/bg-img/accept-payment.jpg" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-6 mb-3">
                                                        <label for="cardNumber">Số thẻ</label>
                                                        <input type="text" class="form-control" id="cardNumber" placeholder="" value="" required>
                                                        <small id="card_info_store" class="form-text text-muted"><i class="fa fa-lock" aria-hidden="true"></i> Thông tin thanh toán của bạn được bảo mật. <a href="#">Tìm hiểu thêm.</a></small>
                                                    </div>
                                                    <div class="col-12 col-md-3 mb-3">
                                                        <label for="expiration">Ngày hết hạn</label>
                                                        <input type="text" class="form-control" id="expiration" placeholder="MM / YY" value="" required>
                                                    </div>
                                                    <div class="col-12 col-md-3 mb-3">
                                                        <label for="security_code">Mã bảo mật <a href="#" class="btn security_code_popover" data-container="body" data-toggle="popover" data-placement="top" data-content="" data-img="img/bg-img/cvc.jpg"> <i class="fa fa-question-circle" aria-hidden="true"></i></a></label>
                                                        <input type="text" class="form-control" id="security_code" placeholder="" value="" required>
                                                    </div>
                                                    <div class="col-12 col-md-3 ml-md-auto">
                                                        <button type="submit" class="btn btn-success w-100">Xác minh</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Single payment method -->
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="two">
                                    <h6 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_two" aria-expanded="false" aria-controls="collapse_two"><i class="fa fa-paypal" aria-hidden="true"></i> Trả bằng PayPal</a>
                                    </h6>
                                </div>
                                <div aria-expanded="false" id="collapse_two" class="panel-collapse collapse" role="tabpanel" aria-labelledby="two">
                                    <div class="panel-body">
                                        <div class="pay_with_paypal">
                                            <form action="#" method="post">
                                                <div class="row">
                                                    <div class="col-12 col-md-6 mb-3">
                                                        <label for="paypalemailaddress">Email</label>
                                                        <input type="email" class="form-control" id="paypalemailaddress" placeholder="" value="" required>
                                                        <small id="paypal_info" class="form-text text-muted"><i class="fa fa-lock" aria-hidden="true"></i> Thanh toán trực tuyến an toàn. <a href="#">Tìm hiểu thêm.</a></small>
                                                    </div>
                                                    <div class="col-12 col-md-6 mb-3">
                                                        <label for="paypalpassword">Mật khẩu</label>
                                                        <input type="password" class="form-control" id="paypalpassword" value="" required>
                                                        <small id="paypal_password" class="form-text text-muted"><a href="#">Quên mật khẩu?</a></small>
                                                    </div>
                                                    <div class="col-12 col-md-3 ml-md-auto">
                                                        <button type="submit" class="btn btn-success w-100">Xác minh</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Single payment method -->
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="three">
                                    <h6 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_three" aria-expanded="false" aria-controls="collapse_three"><i class="fa fa-university" aria-hidden="true"></i> Direct Bank Transfer</a>
                                    </h6>
                                </div>
                                <div aria-expanded="false" id="collapse_three" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="three">
                                    <div class="panel-body">
                                        <p>Thanh toán trực tiếp vào tài khoản ngân hàng của chúng tôi. Vui lòng sử dụng ID đơn hàng của bạn làm tài liệu tham khảo thanh toán. Đơn hàng của bạn đã thắng được vận chuyển cho đến khi tiền được xóa trong tài khoản của chúng tôi.</p>
                                    </div>
                                </div>
                            </div>

                            <!-- Single payment method -->
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="four">
                                    <h6 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_four" aria-expanded="false" aria-controls="collapse_four"><i class="fa fa-file-o" aria-hidden="true"></i> Cheque Payment
                                        </a>
                                    </h6>
                                </div>
                                <div aria-expanded="false" id="collapse_four" class="panel-collapse collapse" role="tabpanel" aria-labelledby="four">
                                    <div class="panel-body">
                                        <p>Vui lòng gửi thông tin của bạn về Tên Cửa hàng, Phố Cửa hàng, Thị trấn Cửa hàng, Cửa hàng Bang / Quận, Mã bưu điện.</p>
                                    </div>
                                </div>
                            </div>

                            <!-- Single payment method -->
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="five">
                                    <h6 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_five" aria-expanded="false" aria-controls="collapse_five"><i class="fa fa-money" aria-hidden="true"></i> Cash on Delivery
                                        </a>
                                    </h6>
                                </div>
                                <div aria-expanded="false" id="collapse_five" class="panel-collapse collapse" role="tabpanel" aria-labelledby="five">
                                    <div class="panel-body">
                                        <p>Vui lòng gửi thông tin của bạn về Tên Cửa hàng, Phố Cửa hàng, Thị trấn Cửa hàng, Cửa hàng Bang / Quận, Mã bưu điện.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="checkout_pagination mt-50">
                    <a href="checkout-3" class="btn bigshop-btn">Quay lại</a>
                    <a href="checkout-5" class="btn bigshop-btn">Bước cuối cùng</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <<<<<<<<<<<<<<<<<<<< Checkout Area End >>>>>>>>>>>>>>>>>>>> -->