
<!-- ***** Header Area Start ***** -->

<!-- ***** Header Area End ***** -->

<!-- ***** Breadcumb Area Start ***** -->

<!-- ***** Breadcumb Area End ***** -->

<!-- Checkout Steps Area -->
<div class="checkout_steps_area">
    <a class="active" href="checkout-1"><i class="ti-check"></i> Đăng nhập</a>
    <a href="checkout-2"><i class="ti-check"></i> Hoá đơn</a>
    <a href="checkout-3"><i class="ti-check"></i> Vận chuyển</a>
    <a href="checkout-4"><i class="ti-check"></i> Thanh toán</a>
    <a href="checkout-5"><i class="ti-check"></i> Xem lại</a>
</div>

<!-- ***** Checkout Area Start ***** -->
<div class="checkout_area section_padding_100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="checkout_details_area checkout-1 mt-50 clearfix">
                    <div class="row">
                        <div class="col-12 col-md">
                            <h5>Kiểm tra</h5>
                            <p>Đăng ký với chúng tôi để thuận tiện trong tương lai:</p>

                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                <label class="custom-control-label" for="customRadio1">Thanh toán với tư cách khách
</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                                <label class="custom-control-label" for="customRadio2">Ghi danh</label>
                            </div>

                            <br>
                            <h5>Đăng ký và tiết kiệm thời gian!</h5>
                            <p>Đăng ký với chúng tôi để thuận tiện trong tương lai:</p>
                            <p><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Nhanh chóng và dễ dàng kiểm tra
 <br>
                                <i class="fa fa-dot-circle-o" aria-hidden="true"></i> Dễ dàng truy cập vào lịch sử đặt hàng và trạng thái của bạn
</p>

                            <a href="register" class="btn bigshop-btn">Tiếp tục</a>
                        </div>
                        <div class="col-12 col-md">
                            <h5>Đăng nhập</h5>
                            <p>Đã đăng ký? Vui lòng đăng nhập bên dưới:
</p>
                            <form>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                                    <small id="emailHelp" class="form-text text-muted">Chúng tôi sẽ không bao giờ chia sẻ email của bạn với bất cứ ai khác.
</small>
                                </div>
                                <div class="form-group">
                                    <label for="password">Mật khẩu</label>
                                    <input type="password" class="form-control" id="password" placeholder="Password">
                                </div>
                                <div class="form-check">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                        <label class="custom-control-label" for="customCheck1">Lưu tài khoản</label>
                                    </div>
                                </div>
                                <button type="submit" class="btn bigshop-btn">Đăng Nhập</button>
                                <a class="forget_password" href="forgotpassword">Quên mật khẩu?</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="checkout_pagination mt-50">
                    <a href="viewcart" class="btn bigshop-btn">Đi đến giỏ hàng</a>
                    <a href="checkout-2" class="btn bigshop-btn">Tiếp tục</a>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- ***** Checkout Area End ***** -->

<!-- ***** Special Featured Area Start ***** -->

<!-- ***** Special Featured Area End ***** -->

<!-- ***** Footer Area Start ***** -->

<!-- ***** Footer Area End ***** -->

<!-- jQuery (Necessary for All JavaScript Plugins) -->
<script src="js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="js/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="js/bootstrap.min.js"></script>
<!-- Plugins js -->
<script src="js/plugins.js"></script>
<!-- Active js -->
<script src="js/active.js"></script>
