<!-- <<<<<<<<<<<<<<<<<<<< My Profile Area Start >>>>>>>>>>>>>>>>>>>>>>>> -->
<div class="my_profile_area section_padding_100">
    <div class="container">
        <div class="row">

            <div class="col-12 col-md-3">
                <div class="profile-thumb" style="background-image: url(images/detailsquare.jpg);"></div>
                <form class="profile-thumb-upload mt-15">
                    <div class="form-group">
                        <input type="file" class="form-control-file" id="upload-new-thumb">
                    </div>
                </form>
            </div>

            <div class="col-12 col-md-6">
                <div class="profile_form">
                    <form action="#" method="post" class="text-left">
                        <div class="row">
                            <div class="col-12 col-md">
                                <div class="form-group">
                                    <label for="first_name">First Name</label>
                                    <input type="email" class="form-control" id="first_name" value="KHÁNH">
                                </div>
                            </div>
                            <div class="col-12 col-md">
                                <div class="form-group">
                                    <label for="last_name">Last Name</label>
                                    <input type="email" class="form-control" id="last_name" value="NGUYỄN HUY">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email" value="care.designingworld@gmail.com" disabled>
                        </div>
                        <div class="form-group">
                            <label for="p_number">Phone Number</label>
                            <input type="email" class="form-control" id="p_number" value="+99256358410">
                        </div>
                        <div class="form-group">
                            <label for="create_password">Create Password</label>
                            <input type="password" id="create_password" class="form-control" aria-describedby="passwordHelpBlock">
                            <small id="passwordHelpBlock" class="form-text text-muted">If you don't want to change password, please leave blank.</small>
                        </div>
                        <div class="form-group">
                            <label for="confirm_password">Confirm Password</label>
                            <input type="password" id="confirm_password" class="form-control">
                        </div>
                        <a href="/" type="submit" class="btn bigshop-btn w-100">UPDATE INFORMATION</a>
                    </form>
                </div>
            </div>


        </div>
    </div>
</div>
<!-- <<<<<<<<<<<<<<<<<<<< My Profile Area End >>>>>>>>>>>>>>>>>>>>>>>> -->