<!-- ***** Register area start ***** -->
<div class="bigshop_reg_log_area bg-img section_padding_100" style="background-image: url(img/bg-img/login.jpg);">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Register form area start  -->
            <div class="col-12 col-md-8">
                <div class="register_form text-center">
                    <h3 class="register-title">Sign up for free</h3>
                    <form action="#" method="post" class="text-left">
                        <div class="form-group">
                            <label for="user_name">Username</label>
                            <input type="email" class="form-control" id="user_name" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter Email">
                            <small id="emailHelp" class="form-text text-muted"><i class="fa fa-lock"></i> We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="create_password">Create Password</label>
                            <input type="password" id="create_password" class="form-control" aria-describedby="passwordHelpBlock">
                            <small id="passwordHelpBlock" class="form-text text-muted">Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.</small>
                        </div>
                        <div class="form-group">
                            <label for="confirm_password">Confirm Password</label>
                            <input type="password" id="confirm_password" class="form-control">
                        </div>
                        <a href="login" type="submit" class="btn bigshop-btn w-100">Sign Up</a>
                    </form>
                    <div class="forget_pass mt-15">
                        <a href="login">Already have a account? Login</a>
                    </div>
                </div>
            </div>
            <!-- Register form area end  -->
        </div>
    </div>
</div>
<!-- ***** Register Area End ***** -->
