.form-gap {
    padding-top: 70px;
}

.form_forgotPass {
    justify-content: center;
	-ms-align-items: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    padding: 50px;
}
#exampleFormControlSelect1 {
    height: auto;
}
.label_QuenMatKhau{
    font-size: 50px;
}

.form_input_forgotPass{
    padding: 10px;
    border: 2px solid #222222;
    border-radius: 12px;
}

/* Add a "pressed" effect on click: */
.button_Kha1 {


    margin:0 auto;
    display:block;



    background-color: #222;
    border-radius: 60px;
    color: #fff;
    font-size: 15px;
    padding: 0 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    min-width: 180px;
    height: 54px;
    line-height: 52px;
  }
  
  .button_Kha1:hover {background-color: #717fe0}
  
  .button_Kha1:active {
    background-color: #717fe0;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }