<section class="faq_quesition_search_area section_padding_100 bg-img background-overlay-white" style="background-image: url(images/bg-01.jpg);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <div class="faq_quesition_search_form">
                    <h2>Tôi có thể giúp bạn điều gì?</h2>
                    <form action="#" method="get" class="faq_form">
                        <input type="search" class="form-control" name="search" id="search-question" placeholder="Viết câu hỏi">
                        <button type="button" class="btn"><i><img src="images/search.png"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ***** FAQ Area Start ***** -->
<section class="section_padding_100_70">
    <div class="container">
        <div class="row">
            <!-- Single FAQ Area -->
            <div class="col-12 col-md-6">
                <div class="single-faq mb-30">
                    <h6>Tôi phải làm gì nếu nhận phải mặt hàng hư hỏng</h6>
                    <div class="line-mtb15"></div>
                    <div class="faq-content">
                        <p class="text-muted">Bạn kiểm tra và trả hàng ngay lúc nhận sản phẩm và liên hệ ngay với cửa hàng nhé !</p>
                    </div>
                </div>
            </div>
            <!-- Single FAQ Area -->
            <div class="col-12 col-md-6">
                <div class="single-faq mb-30">
                    <h6>Tôi nhận sai sản phẩm đã đặt </h6>
                    <div class="line-mtb15"></div>
                    <div class="faq-content">
                        <p class="text-muted">Bạn kiểm tra và trả hàng ngay lúc nhận sản phẩm và liên hệ ngay với cửa hàng nhé !</p>
                    </div>
                </div>
            </div>
            <!-- Single FAQ Area -->
            <div class="col-12 col-md-6">
                <div class="single-faq mb-30">
                    <h6>Làm sao tôi có thể liên hệ hỗ trợ tư vấn?</h6>
                    <div class="line-mtb15"></div>
                    <div class="faq-content">
                        <p class="text-muted">Bạn liên hệ nhân viên tư vấn <a href="https://bitly.vn/28ru" target="_blank">nhân viên tư vấn</a> để được hỗ trợ nhé !</p>
                    </div>
                </div>
            </div>
            <!-- Single FAQ Area -->
            <div class="col-12 col-md-6">
                <div class="single-faq mb-30">
                    <h6>Tôi quên mất mật khẩu tài khoản</h6>
                    <div class="line-mtb15"></div>
                    <div class="faq-content">
                        <p class="text-muted">Bạn vào phần đăng nhập rồi chọn chức năng quên mật khẩu và thực hiện theo yêu cầu nhé !</p>
                    </div>
                </div>
            </div>
            <!-- Single FAQ Area -->
            <div class="col-12 col-md-6">
                <div class="single-faq mb-30">
                    <h6>Có cách nào để huỷ sản phẩm đã đặt ?</h6>
                    <div class="line-mtb15"></div>
                    <div class="faq-content">
                        <p class="text-muted">Sản phẩm đang trong tiến trình xác nhận đơn hàng thì có thể huỷ nhé !</p>
                    </div>
                </div>
            </div>
            <!-- Single FAQ Area -->
            <div class="col-12 col-md-6">
                <div class="single-faq mb-30">
                    <h6>Làm thế nào để trả lại sản phẩm ?</h6>
                    <div class="line-mtb15"></div>
                    <div class="faq-content">
                        <p class="text-muted">Những lỗi hư hỏng so với thiết kế ban đầu sẽ được trả lại, trừ trường hợp khách hàng làm hư hại, bạn có thể liên hệ nhân viên tư vấn để được hướng dẫn nhé !</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** FAQ Area End ***** -->

<section class="cannot_find_answer section_padding_100 bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="cannot_find_text text-center">
                    <h3>Không tìm thấy câu hỏi mong muốn ?</h3>
                   <i><img src="images/smile.png"></i>
                    <a href="#" class="btn bigshop-btn">Gửi câu hỏi.</a>
                </div>
            </div>
        </div>
    </div>
</section>