<!-- <<<<<<<<<<<<<<<<<<<< My Profile Area Start >>>>>>>>>>>>>>>>>>>>>>>> -->
<div class="my_profile_area section_padding_100">
    <div class="container">
        <div class="row">

            <div class="col-12 col-md-3">
                <div class="profile-thumb" style="background-image: url(images/detailsquare.jpg);"></div>
                <form class="profile-thumb-upload mt-15">
                    <div class="form-group">
                        <input type="file" class="form-control-file" id="upload-new-thumb">
                    </div>
                </form>
            </div>

            <div class="col-12 col-md-6">
                <div class="profile_form">
                    <form action="#" method="post" class="text-left">
                        <div class="row">
                            <div class="col-12 col-md">
                                <div class="form-group">
                                    <label for="first_name">Tên</label>
                                    <input type="email" class="form-control" id="first_name">
                                </div>
                            </div>
                            <div class="col-12 col-md">
                                <div class="form-group">
                                    <label for="last_name">Họ và tên đệm</label>
                                    <input type="email" class="form-control" id="last_name" >
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="p_number">Số điện thoại</label>
                            <input type="email" class="form-control" id="phone_number" >
                        </div>
                        <div class="form-group">
                            <label for="p_number">Địa chỉ</label>
                            <input type="email" class="form-control" id="address" >
                        </div>
                        <div class="form-group">
                            <label for="email">Tên đăng nhập</label>
                            <input class="form-control" id="user_name" value="{{user.user_name}}" disabled>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" value="care.designingworld@gmail.com">
                        </div>

                        <div class="form-group">
                            <label for="create_password">Tạo mật khẩu</label>
                            <input type="password" id="create_password" class="form-control" aria-describedby="passwordHelpBlock">
                            <small id="passwordHelpBlock" class="form-text text-muted">Nếu bạn không muốn tạo password, vui lòng để khoảng trắng</small>
                        </div>
                        <div class="form-group">
                            <label for="confirm_password">Xác minh mật khẩu</label>
                            <input type="password" id="confirm_password" class="form-control">
                        </div>
                        <a href="/" type="submit" class="btn bigshop-btn w-100">CẬP NHẬT THÔNG TIN</a>
                    </form>
                </div>
            </div>


        </div>
    </div>
</div>
<!-- <<<<<<<<<<<<<<<<<<<< My Profile Area End >>>>>>>>>>>>>>>>>>>>>>>> -->