<div class="checkout_steps_area">
    <a class="complated" class="active" href="/checkout"><i class="ti-check"></i> Đăng nhập</a>
    <a class="active" href=/checkout/billing><i class="ti-check"></i> Hoá đơn</a>
    <a class="" href="/checkout/shipping"><i class="ti-check"></i> Vận chuyển</a>
    <a class="" href="/checkout/paying"><i class="ti-check"></i> Thanh toán</a>
    <a class=""  href="/checkout/reviewing"><i class="ti-check"></i> Xem lại</a>
</div>

<!-- <<<<<<<<<<<<<<<<<<<< Checkout Area Start >>>>>>>>>>>>>>>>>>>> -->
<div class="checkout_area section_padding_100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="checkout_details_area mt-50 clearfix">
                    <h5>Billing Details</h5>
                    <form action="#" method="post">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="first_name">Tên</label>
                                <input type="text" class="form-control" id="first_name" placeholder="First Name" value="" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="last_name">Họ và tên đệm</label>
                                <input type="text" class="form-control" id="last_name" placeholder="Last Name" value="" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="company">Tên công ty</label>
                                <input type="text" class="form-control" id="company" placeholder="Company Name" value="">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="email_address">Email</label>
                                <input type="email" class="form-control" id="email_address" placeholder="Email Address" value="">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="phone_number">Số điện thoại</label>
                                <input type="number" class="form-control" id="phone_number" min="0" value="">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="country">Quốc gia</label>
                                <select class="custom-select d-block w-100" id="country">
                                    <option value="usa">Mỹ</option>
                                    <option value="uk">Anh</option>
                                    <option value="ger">Đức</option>
                                    <option value="fra">Pháp</option>
                                    <option value="ind">Ấn độ</option>
                                    <option value="aus">Úc</option>
                                    <option value="bra">Brazil</option>
                                    <option value="cana">Việt Nam</option>
                                </select>
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="street_address">Địa chỉ đường</label>
                                <input type="text" class="form-control" id="street_address" placeholder="Street Address" value="">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="apartment_suite">Căn hộ / Số nhà</label>
                                <input type="text" class="form-control" id="apartment_suite" placeholder="Apartment, suite, unit etc" value="">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="city">Thành phố</label>
                                <input type="text" class="form-control" id="city" placeholder="Town/City" value="">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="state">Bang</label>
                                <input type="text" class="form-control" id="state" placeholder="State" value="">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="postcode">Mã bưu điện</label>
                                <input type="text" class="form-control" id="postcode" placeholder="Postcode / Zip" value="">
                            </div>
                            <div class="col-md-12">
                                <label for="order-notes">Ghi chú đặt hàng</label>
                                <textarea class="form-control" id="order-notes" cols="30" rows="10" placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                            </div>
                        </div>

                        <!-- Different Shipping Address -->
                        <div class="different-address mt-30">
                            <div class="ship-different-title mb-3">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">Giao hàng đến địa chỉ khác?</label>
                                </div>
                            </div>
                            <div class="row shipping_input_field">
                                <div class="col-md-6 mb-3">
                                    <label for="first_name">Tên</label>
                                    <input type="text" class="form-control" id="first-name" placeholder="First Name" value="" required>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="last_name">Họ và tên đệm</label>
                                    <input type="text" class="form-control" id="last-name" placeholder="Last Name" value="" required>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="company">Tên công ty</label>
                                    <input type="text" class="form-control" id="ship-company" placeholder="Company Name" value="">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="email_address">Email</label>
                                    <input type="email" class="form-control" id="email-address" placeholder="Email Address" value="">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="phone_number">Số điện thoại</label>
                                    <input type="number" class="form-control" id="phone-number" min="0" value="">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="country">Quốc gia</label>
                                    <select class="custom-select d-block w-100" id="ship-country">
                                        <option value="usa">Mỹ</option>
                                    <option value="uk">Anh</option>
                                    <option value="ger">Đức</option>
                                    <option value="fra">Pháp</option>
                                    <option value="ind">Ấn độ</option>
                                    <option value="aus">Úc</option>
                                    <option value="bra">Brazil</option>
                                    <option value="cana">Việt Nam</option>
                                    </select>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label for="street_address"> Tên đường</label>
                                    <input type="text" class="form-control" id="street-address" placeholder="Street Address" value="">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="apartment_suite">Căn hộ / Số nhà</label>
                                    <input type="text" class="form-control" id="apartment-suite" placeholder="Apartment, suite, unit etc" value="">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="city">Thành phố</label>
                                    <input type="text" class="form-control" id="ship-city" placeholder="Town/City" value="">
                                </div>
                                <div class="col-md-6">
                                    <label for="state">Bang</label>
                                    <input type="text" class="form-control" id="ship-state" placeholder="State" value="">
                                </div>
                                <div class="col-md-6">
                                    <label for="postcode">Mã bưu điện</label>
                                    <input type="text" class="form-control" id="ship-postcode" placeholder="Postcode / Zip" value="">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-12">
                <div class="checkout_pagination mt-50">
                        <a href="/checkout" class="btn bigshop-btn">Quay lại</a>
                    <a href="shipping" class="btn bigshop-btn">Tiếp tục</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <<<<<<<<<<<<<<<<<<<< Checkout Area End >>>>>>>>>>>>>>>>>>>> -->