<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>Sản phẩm đã đặt</h1>
            </div>
            <div class="col-md-5">
                <ul class="breadcrumb">

                    <li><a href="/">Trang chủ</a>
                    </li>
                    <li>Sản phẩm đã đặt</li>
                </ul>

            </div>
        </div>
    </div>
</div>
<!-- ***** Checkout Area Start ***** -->
<div class="checkout_area section_padding_100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="order_complated_area clearfix">
                    <h5>Cảm ơn bạn đã đặt hàng.</h5>
                    <p>Bạn sẽ nhận tin nhắn chi tiết về đơn hàng qua email</p>
                    <p class="orderid">Mã đơn hàng của bạn #2258396</p>
                </div>
            </div>

            <div class="col-12">
                <div class="checkout_pagination mt-50">
                    <a href="/" class="btn bigshop-btn">Quay lại cửa hàng</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Checkout Area End ***** -->
