<div class="checkout_steps_area">
    <a class="complated" class="active" href="/checkout"><i class="ti-check"></i> Đăng nhập</a>
    <a class="complated" href=/checkout/billing><i class="ti-check"></i> Hoá đơn</a>
    <a class="active" href="/checkout/shipping"><i class="ti-check"></i> Vận chuyển</a>
    <a class="" href="/checkout/paying"><i class="ti-check"></i> Thanh toán</a>
    <a class=""  href="/checkout/reviewing"><i class="ti-check"></i> Xem lại</a>
</div>

<!-- <<<<<<<<<<<<<<<<<<<< Checkout Area Start >>>>>>>>>>>>>>>>>>>> -->
<div class="checkout_area section_padding_100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="checkout_details_area mt-50 clearfix">
                    <h5>Phương thức giao hàng</h5>
                    <div class="shipping_method">
                        <table class="table table-responsive">
                            <thead>
                            <tr>
                                <th>Phương thức</th>
                                <th>Thời gian</th>
                                <th>Giá</th>
                                <th>Lựa chọn</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="col-4">Chuyển phát nhanh</td>
                                <td class="col-4">2-3 ngày</td>
                                <td class="col-3">$9.99</td>
                                <td class="col-1">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                        <label class="custom-control-label" for="customRadio1"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-4">Thông thường</td>
                                <td class="col-4">3-4 ngày</td>
                                <td class="col-3">$3.00</td>
                                <td class="col-1">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                                        <label class="custom-control-label" for="customRadio2"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-4">Miễn phí vận chuyển</td>
                                <td class="col-4">1 tuần</td>
                                <td class="col-3">$0.00</td>
                                <td class="col-1">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                                        <label class="custom-control-label" for="customRadio3"></label>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="checkout_pagination mt-50 clearfix">
                    <a href="/checkout/billing" class="btn bigshop-btn">Quay lại</a>
                    <a href="/checkout/paying" class="btn bigshop-btn">Tiếp theo</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <<<<<<<<<<<<<<<<<<<< Checkout Area End >>>>>>>>>>>>>>>>>>>> -->