<div class="form_forgotPass">
    <label class="label_QuenMatKhau">Quên mật khẩu</label>
<form class="form_input_forgotPass">
  <div class="form-group">
    <label for="exampleFormControlInput1">Email</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Câu hỏi bảo mật</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Cha bạn tên gì?</option>
      <option>Con vật đầu tiên bạn nuôi?</option>
      <option>Đứa bạn ghét nhất tên gì?</option>
      <option>Bạn có biết thầy Nguyễn Huy Khánh đẹp trai?</option>
      <option>Cầu thủ bạn yêu thích nhất?</option>
    </select>
  </div>
    <div>
    <label for="exampleFormControlTextarea1">Câu trả lời</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Mật khẩu mới</label>
    <input type="password" class="form-control" id="forgotPass" placeholder="Nhập mật khẩu mới">
  </div>
  <button class="button_Kha1">Xác nhận</button>
</form>
</div>
