<div class="form_forgotPass">
    <label class="label_QuenMatKhau">Quên mật khẩu</label>
<form class="form_input_forgotPass" method="post">
    <div class="form-group" >
        <h1 for="p_number">Nhập vào tên đăng nhập đã đăng kí</h1>
        <input type="text" class="form-control" id="user_name" name="user_name"  >
    </div>
    <button href="/recovery" id="btn-update" type="submit" class="btn bigshop-btn w-100">XÁC NHẬN</button>
</form>
</div>
