
<!-- ***** Header Area End ***** -->
<div class="bigshop_reg_log_area bg-gray text-center background-overlay section_padding_100" style="background-image: url(img/bg-img/login.jpg);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <div class="login_form">
                    <!-- sign in with social site -->
                    <div class="signin_with_social">
                        <a href="#" class="facebook-logo"><i class="fa fa-facebook"></i>Đăng nhập bằng Facebook</a>
                        <a href="#" class="twitter-logo"><i class="fa fa-twitter"></i>Đăng nhập bằng Twitter</a>
                    </div>
                    <!-- sign in manual form -->
                    <div class="login_manual_form">
                        <p>or</p>

                        <div class="ui-state-error" id="error-message"  >{{message}}</div>

                        <form action="#" method="post">
                            <div class="form-group">
                                <label for="username">Tên tài khoản</label>
                                <input  class="form-control" id="user_name" name="user_name" placeholder="Nhập tên tài khoản">
                            </div>
                            <div class="form-group">
                                <label for="password">Mật khẩu</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Nhập mật khẩu">
                            </div>
                            <div class="form-check">
                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input" id="customChe">
                                    <label class="custom-control-label" for="customChe">Ghi nhớ tài khoản</label>
                                </div>
                            </div>
                            <button id="btn-login" type="submit" class="btn bigshop-btn w-100">Đăng nhập</button>
                        </form>
                    </div>
                    <!--sign up -->
                    <div class="forget_pass mt-15">
                        <a href="register">Đăng kí</a>
                    </div>

                    <!-- forget password -->
                    <div class="forget_pass mt-15">
                        <a href="forgotpassword">Quên mật khẩu?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{#extend "login-script"}}
    <script>

        if ($({{message}}).val() == null ) {
            $('#error-message').hide();
        }
    </script>
{{/extend}}