<!-- ***** Register area start ***** -->
<div class="bigshop_reg_log_area bg-img section_padding_100" style="background-image: url(img/bg-img/login.jpg);">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Register form area start  -->
            <div class="col-12 col-md-8">
                <div class="register_form text-center">
                    <h3 class="register-title">Đăng kí miễn phí</h3>
                    {{message}}
                    <div class="ui-state-error" id="error-message"  ></div>
                    <form action="#" method="post" class="text-left">
                        <div class="form-group">
                            <label for="user_name">Tên đăng nhập</label>
                            <input  class="form-control" id="user_name" name="user_name" placeholder="Nhập Username">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Nhập Email">
                            <small id="emailHelp" class="form-text text-muted"><i class="fa fa-lock"></i> Chúng tôi sẽ không tiết lộ email cho bất cứ ai.</small>
                        </div>
                        <div class="form-group">
                            <label for="create_password">Tạo mật khẩu</label>
                            <input type="password" id="password" name="password" class="form-control" aria-describedby="passwordHelpBlock" placeholder="Nhập mật khẩu">
                            <small id="passwordHelpBlock" class="form-text text-muted">Mật khẩu phải từ 8-20 kí tự, bao gồm chữ và số, và không có khoảng trắng, kí tự đặc biệt và biểu tượng cảm xúc</small>
                        </div>
                        <div class="form-group">
                            <label for="confirm_password">Xác minh mật khẩu </label>
                            <input type="password" id="confirm_password" name="confirm_password" class="form-control" placeholder="Nhập lại mật khẩu" >
                        </div>
                        <button href="/login" id="register"  type="submit" class="btn bigshop-btn w-100">Đăng kí</button>
                    </form>
                    <div class="forget_pass mt-15">
                        <a href="login">Đã có tài khoản? Đăng nhập ngay</a>
                    </div>
                </div>
            </div>
            <!-- Register form area end  -->
        </div>
    </div>
</div>
{{#extend "regiser-script"}}
    <script>
        $('#error-message').hide();
        $('#user_name').keyup(function() {
            $.getJSON('/api/user/checkExistUser?user_name='+$('#user_name').val(), function (data){
                if (data) {
                    $('#error-message').show();
                    $('#error-message').html('Tên đăng nhập đã tồn tại. Vui lòng chọn tên khác.');
                    $("#register").attr("disabled", true);
                }
                else {

                    $('#error-message').hide();
                    $("#register").attr("disabled", false);

                }
            })
        });
        $('#confirm_password').keyup(function() {

            if ($('#confirm_password').val() != $('#password').val() && $('#confirm_password').val().length > 0  ) {
                $('#error-message').show();
                $('#error-message').html('Xác nhận mật khẩu không khớp! VUi lòng nhập lại');
                $("#register").attr("disabled", true);
            }
            else {
                $('#error-message').hide();
                $("#register").attr("disabled", false);
            }

        });
    </script>
{{/extend}}
<!-- ***** Register Area End ***** -->
